{% extends "admin/admin_layout.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block content %}
<div class="mx-5">
    <form method="get" action="{% url 'afgiftstabel_view' %}">
    <h1>Aktivér Afgiftstabel</h1>
    <div class="row">
        <div class="col-4"><label for="date_from">Gyldig fra:</label></div>
        <div class="col-8"><input id="date_from" type="date" class="form-control" required=""/></div>
    </div>
    <div class="clearfix">
        <button type="submit" class="btn btn-success float-end">Aktivér</button>
    </div>
    </form>
</div>
{% endblock %}
