{% load i18n %}
<a href="{% url 'afgiftstabel_view' id=item.id %}" class="btn btn-sm btn-primary">{% translate "Vis" %}</a>
{% if can_download %}
<span class="dropend">
    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Download
    </button>
    <ul class="dropdown-menu">
        <li><a href="{% url 'afgiftstabel_download' id=item.id format='xlsx' %}" class="dropdown-item">.xlsx</a></li>
        <li><a href="{% url 'afgiftstabel_download' id=item.id format='csv' %}" class="dropdown-item">.csv</a></li>
    </ul>
</span>
{% endif %}
