{% extends "admin/admin_layout.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}

{# Docs for bootstrap-table: https://bootstrap-table.com/docs/ #}
{% block extra_headers %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css">
{% endblock %}
{% block extra_footers %}
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/defer-url/bootstrap-table-defer-url.min.js"></script>
{% endblock %}

{% block content %}

<div class="clearfix">
    <a class="float-end btn btn-primary" href="{% url 'afgiftstabel_create' %}">Opret ny tabel fra regneark</a>
</div>

<div class="mx-5 my-1">
    <table class="table table-bordered"
           data-toggle="table"
           data-sticky-header="true"
           data-classes="table"
           data-data-field="items"
           data-sortable="true"
           data-pagination="true"
           data-pagination-parts="['pageList']"
           data-page-size="20"
           data-page-number="{{search_data.offset}}"
           data-side-pagination="server"
           data-pagination-loop="false"
           data-defer-url="{% url 'afgiftstabel_list' %}?json=1"
           data-query-params="queryParams"
           data-total-rows="{{total}}"
           data-silent-sort="true" {# vil vi vise en loading-boks? #}
           data-remember-order="true"

    >
        <thead>
        <tr>
            <th data-sortable="true" data-field="gyldig_fra" class="col-3">Gyldig fra</th>
            <th data-sortable="true" data-field="gyldig_til" class="col-3">Gyldig til</th>
            <th data-sortable="true" data-field="kladde" class="col-3">Kladde</th>
            <th data-field="actions" class="col-3">Handlinger</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        {% if item.kladde %}
        <tr class="table-secondary">
            {% else %}
        <tr>
            {% endif %}

            <td>{{item.gyldig_fra|default_if_none:""}}</td>
            <td>{{item.gyldig_til|default_if_none:""}}</td>
            <td>{{item.kladde|yesno|capfirst}}</td>
            <td>{% include actions_template with item=item %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function queryParams(params){  // Kaldes af bootstrap-table fordi vi peger på den med data-query-params
        if (params["offset"] < 0) {
            params["offset"] = 0;
        }
        /*const search_data = JSON.parse($("#search_data").text());
        for (let key in search_data) {
            if (key !== "offset" && key !== "limit") {
                params[key] = search_data[key];
            }
        }*/
        return params;
    }
</script>
{% endblock %}
