{% extends "admin/admin_layout.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{# Docs for bootstrap-table: https://bootstrap-table.com/docs/ #}
{% block extra_headers %}
<link rel="stylesheet" href="{% static 'bootstrap-table/bootstrap-table.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-table/bootstrap-table-sticky-header.min.css' %}">
{% endblock %}
{% block extra_footers %}
<script src="{% static 'bootstrap-table/bootstrap-table.min.js' %}"></script>
<script src="{% static 'bootstrap-table/bootstrap-table-sticky-header.min.js' %}"></script>
<script src="{% static 'bootstrap-table/bootstrap-table-defer-url.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="mx-5">

    <h1>Afgiftstabeller</h1>

    {% if can_upload %}
    <div class="clearfix">
        <a class="float-end btn btn-primary" href="{% url 'afgiftstabel_create' %}">Opret ny tabel fra regneark</a>
    </div>
    {% endif %}

    <table class="table table-bordered"
           data-toggle="table"
           data-sticky-header="true"
           data-classes="table"
           data-data-field="items"
           data-sortable="true"
           data-pagination="true"
           data-pagination-parts="['pageList']"
           data-page-size="{{search_data.limit|unlocalize}}"
           data-page-number="{{search_data.page_number|unlocalize}}"
           data-side-pagination="server"
           data-pagination-loop="false"
           data-defer-url="{% url 'afgiftstabel_list' %}?json=1"
           data-query-params="queryParams"
           data-row-style="rowStyle"
           data-total-rows="{{total|unlocalize}}"
           data-silent-sort="true" {# vil vi vise en loading-boks? #}
           data-remember-order="true"
    >
        HEPHEY
        <thead>
        <tr>
            <th data-sortable="true" data-field="gyldig_fra" class="col-3" data-formatter="datoFormatter">Gyldig fra</th>
            <th data-sortable="true" data-field="gyldig_til" class="col-3" data-formatter="datoFormatter">Gyldig til</th>
            <th data-sortable="true" data-field="kladde" class="col-3" data-formatter="kladdeFormatter">Kladde</th>
            <th data-field="actions" class="col-3">Handlinger</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            {% if item.kladde %}
            <tr class="table-secondary">
            {% elif item.gældende %}
            <tr class="table-success">
            {% else %}
            <tr>
            {% endif %}

                <td>
                    {% if item.gyldig_fra %}
                    {{item.gyldig_fra|date:"c"}}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if item.gyldig_til %}
                    {{item.gyldig_til|date:"c"}}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>{{item.kladde|yesno|capfirst}}</td>
                <td>{% include actions_template with item=item %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function queryParams(params){  // Kaldes af bootstrap-table fordi vi peger på den med data-query-params
        if (params["offset"] < 0) {
            params["offset"] = 0;
        }
        /*const search_data = JSON.parse($("#search_data").text());
        for (let key in search_data) {
            if (key !== "offset" && key !== "limit") {
                params[key] = search_data[key];
            }
        }*/
        return params;
    }
    function bool(value) {
        return value === true || value === "Ja"
    }
    function rowStyle(rowdata, index) {
        if (bool(rowdata["kladde"])) {
            return {"classes": "table-secondary"}
        }
        if (bool(rowdata["gældende"])) {
            return {"classes": "table-success"}
        }
        return {}
    }
    function kladdeFormatter(value, row) {
        return bool(value) ? "Ja" : "Nej";
    }
    function datoFormatter(value) {
        if (value && value !== "-") {
            const parsed = new Date(value);
            const date = [
                String(parsed.getDate()).padStart(2, "0"),
                String(parsed.getMonth() + 1).padStart(2, "0"),
                parsed.getFullYear()
            ].join(".");
            const time = [
                String(parsed.getHours()).padStart(2, "0"),
                String(parsed.getMinutes()).padStart(2, "0"),
                String(parsed.getSeconds()).padStart(2, "0"),
            ].join(":");
            return [date, time].join(" ");
        }
        return "-";
    }
</script>
{% endblock %}
