*.pyc
*.mo
env/
.idea/
docker-compose.override.yml
data/er/*
!data/er/.gitkeep
rest/rest/static/doc/*
*.sqlite3
**/.coverage
told-common/build/
told-common/dist/
told-common/told_common.egg-info/

*.venv*/
*.vscode/
