{% extends "told_common/layout.html" %}
{% load i18n %}

{% block main_navigation %}
{% if can_list_tf5 %}
<li class="nav-item ms-4 {% if current_view == "tf5_list" %}active{% endif %}">
    <a href="{% url 'tf5_list' %}" class="nav-link d-flex align-items-center">
        <span class="material-icons">description</span>
        <span class="ms-1">{% translate 'TF5-anmeldelser' %}</span>
    </a>
</li>
{% endif %}
{% if can_list_tf10 %}
<li class="nav-item ms-4 {% if current_view == "tf10_list" %}active{% endif %}">
    <a href="{% url 'tf10_list' %}" class="nav-link d-flex align-items-center">
        <span class="material-icons">description</span>
        <span class="ms-1">{% translate 'TF10-anmeldelser' %}</span>
    </a>
</li>
{% endif %}
{% endblock %}

{% block user_menu_actions %}
{% if user.indberetter_data.api_key and not hide_api_key_btn %}
<div class="d-flex mt-3">
    <button type="button" class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#apikey_modal">
        <span class="material-icons me-1">key</span>
        <span>{% translate "API-nøgle" %}</span>
    </button>
</div>
{% endif %}
{% endblock %}

{% block modals %}
<div id="apikey_modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">API-nøgle</h5>
            </div>
            <div class="modal-body">
                 {{user.indberetter_data.api_key}}
                 <div>
                    <a href="{{api_doc_url}}">API-dokumentation</a>
                 </div>
            </div>
        </div>
    </div>
</div>

{% if not user.is_anonymous and user.email|length < 1 %}
{{user|json_script:"user_data"}}
<div id="user_email_modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% translate 'Indtast bruger e-mail' %}</h5>
            </div>

            <form method="post" id="user_email_modal_form" class="needs-validation" novalidate>
                <div class="modal-body">
                    <!-- Alerts -->
                    <div class="alert alert-warning" role="alert">
                        {% translate 'Din bruger har ikke en associeret e-mail adresse og kan derfor ikke modtage notifikationer.' %}
                    </div>
                    <div id="user_email_modal_form-error" class="alert alert-danger d-none" role="alert">
                        {% translate 'Der skete en ukendt fejl, kontakt venligst en administrator.' %}
                    </div>

                    <!-- Input -->
                    <div class="row">
                        <div class="col-auto">
                            <label for="userEmailInput" class="col-form-label">{% translate 'E-mail' %}:</label>
                        </div>
                        <div class="col-10">
                            <input type="email" id="userEmailInput" class="form-control"
                                pattern="^[a-zA-Z0-9\._\%\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$"
                                placeholder="{% translate 'Indtast manglende e-mail her...' %}" required />

                            <div class="invalid-feedback">
                                {% translate 'Ikke valid e-mail adresse!' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
                        {% translate 'Ignorér'%}
                    </button>
                    <button type="submit" class="btn btn-success">{% translate 'Opdatér' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script nonce="{{ request.csp_nonce }}">
    const user_data = JSON.parse($("#user_data").text());
    const modal = new bootstrap.Modal('#user_email_modal', {});
    modal.show();

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Form submit & validation
    const csrf_token = getCookie('csrftoken');

    $(".needs-validation").on("submit", function (e) {
        e.preventDefault()
        const $this = $(this)

        // Run BS validation
        if (!this.checkValidity()) {
            e.stopPropagation()
            $this.addClass('was-validated') // So errors are shown
            return
        }
        $this.addClass('was-validated')

        // Update the user email through the REST-app
        $.ajax({
            url: "/rest/user/" + user_data.id,
            type: "PATCH",
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            contentType: "application/json",
            data: JSON.stringify({
                "username": user_data.username,
                "first_name": user_data.first_name,
                "last_name": user_data.last_name,
                "email": $("#userEmailInput").val(),
            }),
            success: function (response) {
                modal.hide()
                $.ajax({
                    url: "{% url 'sync_session' %}",
                    type: "POST",
                    headers: { "X-CSRFToken": getCookie('csrftoken') },
                })
            },
            error: function (err) {
                $("#user_email_modal_form-error").removeClass("d-none")
            },
        });
    })
</script>
{% endif %}
{% endblock %}
