{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load common_tags %}
<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'toldbehandling/css/style.css' %}" >
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <title>{% translate 'Toldbehandling' %}</title>
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
{% block header %}
<header>
    <nav class="nav flex-column flex-sm-row p-1">
        {% if can_list_tf5 %}
        <a class="p-2 text-muted" href="{% url 'tf5_list' %}">{% translate "TF5-anmeldelser" %}</a>
        {% endif %}
        {% if can_list_tf10 %}
        <a class="p-2 text-muted" href="{% url 'tf10_list' %}">{% translate "TF10-anmeldelser" %}</a>
        {% endif %}
        <span class="locale-changer navbar-text ms-auto">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                {% get_current_language as current_language %}
                {% get_available_languages as languages %}
                {% get_language_info_list for languages as languages %}
                <select class="form-control form-select" name="language">
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == current_language %} selected{% endif %}>
                        {{ language.name_local|capfirst }}
                    </option>
                {% endfor %}
                </select>
            </form>
        </span>

        <span class="m-2 pt-2">
            {{user.first_name}} {{user.last_name}}
        </span>
        {% if user.indberetter_data.api_key %}
        <button type="button" class="mx-1 my-2 btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#apikey_modal">
            API-nøgle
        </button>
        {% endif %}
        <a href="{% url 'login:logout' %}" class="mx-1 my-2 btn btn-primary" id="logout-link">{% translate "Log ud" %}</a>
    </nav>
    <hr class="p-0 m-0"/>
</header>
{% endblock %}
{% block content %}
{% endblock %}
{% block extra_footers %}
{% endblock %}
<script>
    $("#logout-link").on('click', function () {
        return confirm("{% translate 'Er du sikker på at du vil logge ud?' %}");
    });
    $("[name=language]").on("change", function (){
        this.form.submit();
    });
</script>
        <div id="apikey_modal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">API-nøgle</h5>
                    </div>
                    <div class="modal-body">
                         {{user.indberetter_data.api_key}}
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
