{% extends "told_common/layout.html" %}
{% load i18n %}

{% block content %}
<div class="card-container d-flex align-items-center justify-content-md-center">
    <div class="card" class="csp-w-40rem">
        <h5 class="card-header">{% block card_title %}{% endblock %}</h5>
        {% if form.non_field_errors %}
        <div>
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="card-body">
            <p>
                {% block card_content %}{% endblock %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
