{% load static %}
{% load i18n %}
<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'toldbehandling/css/style.css' %}" >
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <title>Toldbehandling</title>
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
{% block header %}
{% endblock %}
{% block content %}
{% endblock %}
{% block extra_footers %}
{% endblock %}
{% block modals %}
{% endblock %}
<script nonce="{{ request.csp_nonce }}">
    $("#logout-link").on('click', function () {
        return confirm("{% translate 'Er du sikker på at du vil logge ud?' %}");
    });
    $("[name=language]").on("change", function (){
        this.form.submit();
    });
    const pad2 = function(d) {
        return String(d).padStart(2, "0");
    }
    $("[data-format-time='local']").each(function(){
        let value;
        if (this.tagName === "INPUT") {
            value = this.value;
        } else {
            value = this.innerHTML;
        }
        // Parse innerHTML som en timezone-aware datetime, og formatér den efter lokal tid
        const d = new Date(value);
        value = [
            pad2(d.getDate()),
            pad2(d.getMonth()+1),
            d.getFullYear()
        ].join(".")
            + " " + [
            pad2(d.getHours()),
            pad2(d.getMinutes()),
            pad2(d.getSeconds())
        ].join(":")
            + " (" + Intl.DateTimeFormat().resolvedOptions().timeZone + ")";
        if (this.tagName === "INPUT") {
            this.value = value;
        } else {
            this.innerHTML = value;
        }
    });
    $("select[data-submit-onchange=true]").on("change", function (){
        this.form.submit();
    })

    $(document).on("click", ".send_reapproval", function (e) {
        e.preventDefault()
        const $this = $(this)
        const afgiftanmeldelse_id = $this.data("afgiftanmeldelse-id")
        const highlight_on_success = $this.data("highlight-on-success")
        if (confirm("{% translate 'Er du sikker på at du vil genindsende anmedelsen til godkendelse?' %}") !== true) {
            return
        }

        $.ajax({
            url: "/rest/afgiftsanmeldelse/" + afgiftanmeldelse_id,
            type: "PATCH",
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            contentType: "application/json",
            data: JSON.stringify({
                "status": "ny",
            }),
            success: function (response) {
                console.log("success")
                console.log(response)
                if ("success" in response && response.success) {
                    if (highlight_on_success) {
                        window.location.href = window.location.pathname + "?" + $.param({ 'highlight': afgiftanmeldelse_id })
                    } else {
                        location.reload()
                    }
                }
            },
            error: function (err) {
                console.log(err)
                alert(`{% translate 'Der skete en fejl under genindsendelse af anmeldelse' %} ${afgiftanmeldelse_id}`)
            },
        });
    })
</script>
</body>
</html>
