{% load static %}
{% load i18n %}
<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'toldbehandling/css/style.css' %}" >
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <title>Toldbehandling</title>
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
{% block header %}
{% endblock %}
{% block content %}
{% endblock %}
{% block extra_footers %}
{% endblock %}
{% block modals %}
{% endblock %}
<script>
    $("#logout-link").on('click', function () {
        return confirm("{% translate 'Er du sikker på at du vil logge ud?' %}");
    });
    $("[name=language]").on("change", function (){
        this.form.submit();
    });
    const pad2 = function(d) {
        return String(d).padStart(2, "0");
    }
    $("[data-format-time='local']").each(function(){
        const d = new Date(this.innerHTML);
        this.innerHTML = [
            pad2(d.getDate()),
            pad2(d.getMonth()+1),
            d.getFullYear()
        ].join(".")
            + " " + [
            pad2(d.getHours()),
            pad2(d.getMinutes()),
            pad2(d.getSeconds())
        ].join(":");
    });
</script>
</body>
</html>
