{% extends "admin/admin_layout.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}

{# Docs for bootstrap-table: https://bootstrap-table.com/docs/ #}
{% block extra_headers %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
<link rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css">
{% endblock %}

{% block content %}

<div class="mx-5">

    <h1>Oprettelse af faktura</h1>
    <h2>For afgiftsanmeldelse 1</h2>

    <form method="get" action="#">
        <div class="row">
            <div class="col-4"><label for="betalingsdato">Betalingsdato</label></div>
            <div class="col-8"><input id="betalingsdato" type="date" class="form-control"/></div>
        </div>
        <div class="row">
            <div class="col-4"><label for="opkrævningsdato">Opkrævningsdato</label></div>
            <div class="col-8"><input id="opkrævningsdato" type="date" class="form-control"/></div>
        </div>
        <div class="clearfix">
            <a href="{% url 'tf10_list' %}" class="btn btn-success float-end">Opret</a>
        </div>
    </form>
</div>
{% endblock %}
