{% extends "told_common/layout.html" %}
{% load i18n %}

{% block main_navigation %}
{% if nav_afgiftstabeller %}
<li class="nav-item ms-4 {% if current_view == "afgiftstabel_list" %}active{% endif %}">
    <a href="{% url 'afgiftstabel_list' %}" class="nav-link d-flex align-items-center">
        <span class="material-icons">description</span>
        <span class="ms-1">{% translate 'Afgiftstabeller' %}</span>
    </a>
</li>
{% endif %}
{% if nav_afgiftsanmeldelser %}
<li class="nav-item ms-4 {% if current_view == "tf10_list" %}active{% endif %}">
    <a href="{% url 'tf10_list' %}" class="nav-link d-flex align-items-center">
        <span class="material-icons">description</span>
        <span class="ms-1">{% translate 'Afgiftsanmeldelser' %}</span>
    </a>
</li>
{% endif %}
{% if nav_privatafgiftsanmeldelser %}
<li class="nav-item ms-4 {% if current_view == "tf5_list" %}active{% endif %}">
    <a href="{% url 'tf5_list' %}" class="nav-link d-flex align-items-center">
        <span class="material-icons">description</span>
        <span class="ms-1">{% translate 'Private indførselstilladelser' %}</span>
    </a>
</li>
{% endif %}
<li class="nav-item ms-4 {% if current_view == "statistik" %}active{% endif %}">
    <a href="{% url 'statistik' %}" class="nav-link d-flex align-items-center">
        <span class="material-icons">bar_chart</span>
        <span class="ms-1">{% translate 'Statistik' %}</span>
    </a>
</li>
{% endblock %}

{% block user_menu_actions %}
{% if request.user.is_authenticated %}
<div class="d-flex">
    <a href="{% url 'logout' %}" class="btn btn-primary d-flex align-items-center" id="logout-link">
        <span class="material-icons me-1">login</span>
        <span>{% translate "Log ud" %}</span>
    </a>
</div>
{% if not user.twofactor_enabled %}
<div class="d-flex mt-3">
    <a href="{% url 'twofactor:setup' %}" class="btn btn-primary d-flex align-items-center">
        <span class="material-icons me-1">login</span>
        <span>{% translate "Indstil tofaktor-autentificering" %}</span>
    </a>
</div>
{% endif %}{# not user.twofactor_enabled #}
{% endif %}{# user.is_authenticated #}
{% endblock %}
