{% extends "admin/admin_layout.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load common_tags %}

{% block extra_headers %}
<script type="text/javascript" src="{% static 'toldbehandling/js/formset.js' %}" nonce="{{ request.csp_nonce }}"></script>
<script nonce="{{ request.csp_nonce }}">
    $(function (){
        const container = $("#formset_container");

        // Formset
        // -------
        const formset = container.formset("form", $("#formset_prototype"));
        const subformAdded = function(subform) {
            if (!(subform instanceof $)) {
                subform = $(subform);
            }
            subform.find(".remove-row").click(removeForm.bind(subform, subform));
            const addButton = subform.find(".add-row");
            addButton.click(addForm);
            subformsUpdated();
        };
        const subformRemoved = function(subform) {
            const rows = container.find(".row");
            rows.each(function (index, element) {
                $(this).find("input[name],select[name]").each(function (){
                    this.id = this.id.replace(/-\d+-/, "-"+index+"-");
                    this.name = this.name.replace(/-\d+-/, "-"+index+"-");
                });
            });
            subformsUpdated();
        };
        const subformsUpdated = function () {
            const rows = container.find(".row");
            const lastRow = rows.last();
            lastRow.find(".add-row").show();
            if (rows.length === 1) {
                lastRow.find(".remove-row").hide();
            } else {
                rows.find(".remove-row").show();
                rows.not(lastRow).find(".add-row").hide();
            }
        }

        const addForm = function () {
            const newForm = formset.addForm();
            subformAdded(newForm);
        };
        const removeForm = function(subform) {
            formset.removeForm(subform, true);
            subformRemoved(subform);
        };
        container.find(".row").each(function (){subformAdded(this)});

    });
</script>
{% endblock %}

{% block content %}
<div class="content">
<h1 class="mb-3">{% translate "Statistik" %}</h1>
<form method="post">
    {% csrf_token %}
    {{form.errors}}

    <h3 class="mb-3">{% translate "Filtre" %}</h3>
    <div class="row">
        <div class="col-4">
            <label for="{{form.anmeldelsestype.name}}" class="form-label">{% translate "Anmeldelsestype" %}</label>
            {{form.anmeldelsestype}}
        </div>
        <div class="col-4">
            <label for="{{form.startdato.name}}" class="form-label">{% translate "Dato mellem" %}</label>
            <div class="d-flex align-items-center justify-between">
                {{form.startdato}}
                <span class="ms-2">{% translate "og" %}</span>
            </div>
        </div>
        <div class="col-4">
            <label class="form-label">&nbsp;</label>
            {{form.slutdato}}
        </div>
    </div>

    <h3 class="mt-5 mb-3">Grupper</h3>
    <div id="formset">
    {{ formset.management_form }}
    <div id="formset_container">
        {% for subform in formset %}
        <div class="row">
            <div class="col-1">
                <label for="{{subform.gruppe.name}}">Gruppe:</label>
            </div>
            <div class="col-3">
                {{subform.gruppe}}
                {{subform.gruppe.errors}}
            </div>
            <div class="col-1 px-0">
                <button type="button" class="btn btn-info me-2 remove-row">
                    <span class="material-icons">remove</span>
                </button>
                <button type="button" class="btn btn-info me-2 add-row">
                    <span class="material-icons">add</span>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="formset_prototype" class="d-none">
        <div class="row">
            <div class="col-1">
                <label for="{{formset.empty_form.gruppe.name}}">Gruppe:</label>
            </div>
            <div class="col-3">
                {{formset.empty_form.gruppe}}
            </div>
            <div class="col-1 px-0">
                <button type="button" class="btn btn-info me-2 remove-row">
                    <span class="material-icons">remove</span>
                </button>
                <button type="button" class="btn btn-info me-2 add-row">
                    <span class="material-icons">add</span>
                </button>
            </div>
        </div>
    </div>
    </div>

    <div class="d-flex align-items-center my-5">
        <button type="submit" class="btn btn-primary me-2">
            <span class="material-icons">search</span>
            <span>{% translate "Søg" %}</span>
        </button>
        <button type="submit" class="btn btn-primary me-2" name="{{form.download.name}}" value="true">
            <span class="material-icons">download</span>
            <span>{% translate "Download regneark" %}</span>
        </button>
    </div>
</form>

<table class="table table-light my-3">
    <thead>
        <tr>
            <th class="col-2">Afgiftsgruppe</th>
            <th class="col-8">Afgiftstekst</th>
            <th class="col-2">Afgift</th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <td>{{row.afgiftsgruppenummer|zfill:3}}</td>
            <td>{{row.vareart_da}}</td>
            <td>{{row.sum_afgiftsbeløb|floatformat:2}}</td>
        </tr>
    {% empty %}
    <tr>
        <td colspan="3" class="text-center">
            Ingen data
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h3 class="mb-3">Gruppesummer</h3>
<table class="table table-light">
    <thead>
    <tr>
        <th class="col-10">Gruppe</th>
        <th class="col-2">Afgift</th>
    </tr>
    </thead>
    <tbody>
    {% for gruppering in grupperinger %}
    <tr>
        <td>{{gruppering.gruppe|join:"+"}}</td>
        <td>{{gruppering.sum_afgiftsbeløb|floatformat:2}}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2" class="text-center">
            Ingen data
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
