{% extends "admin/admin_layout.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load common_tags %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="mx-5">
        <h1>Afgiftsanmeldelse {{object.id}}</h1>
        {% if object.godkendt == True %}
        <span class="badge bg-success">Godkendt</span>
        {% elif object.godkendt == False %}
        <span class="badge bg-danger">Afvist</span>
        {% else %}
        <span class="badge bg-secondary">Ny</span>
        {% endif %}
        <h4>For indførsel af afgiftspligtige varer i Grønland</h4>

        <div class="row">
            <div class="col-2">
                <label>Oprettelsesdato:</label>
            </div>
            <div class="col-10">
                {{object.dato}}
            </div>
        </div>

        <hr/>
        {% localize off %}
        <div class="row">

            <div class="col-6">
                <h5>Afsender</h5>
                <div class="row">
                    <div class="col-4">
                        <label>CVR:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.cvr|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Navn:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.navn}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Adresse:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.adresse|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Postbox:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.postbox|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Postnummer:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.postnummer|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>By:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.by|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Telefon:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.telefon|default_if_none:""}}
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h5>Modtager</h5>
                <div class="row">
                    <div class="col-4">
                        <label>CVR:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.cvr|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Navn:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.navn}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Adresse:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.adresse|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Postbox:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.postbox|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Postnummer:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.postnummer|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>By:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.by|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Telefon:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.telefon|default_if_none:""}}
                    </div>
                </div>
            </div>
        </div>

        {% endlocalize %}

        <hr/>

        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <label>Leverandørfaktura&shy;nummer:</label>
                    </div>
                    <div class="col-8">
                        {{object.leverandørfaktura_nummer}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Leverandørfaktura:</label>
                    </div>
                    <div class="col-8">
                        <a href="{% url 'leverandørfaktura_view' id=object.id %}">
                            {{object.leverandørfaktura|file_basename}}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Fragtbrev:</label>
                    </div>
                    <div class="col-8">
                        {% if object.fragtforsendelse.fragtbrev %}
                        <a href="{% url 'fragtbrev_view' id=object.fragtforsendelse.id %}">
                            {{object.fragtforsendelse.fragtbrev|file_basename}}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-6">

                <div class="row">
                    <div class="col-4">
                        <label>Forsendelsesmåde:</label>
                    </div>
                    <div class="col-8">
                        {% if object.fragtforsendelse.forsendelsestype == "S" %}
                        Skibsfragt
                        {% elif object.fragtforsendelse.forsendelsestype == "F" %}
                        Luftfragt
                        {% elif object.postforsendelse.forsendelsestype == "S" %}
                        Skibspost
                        {% elif object.postforsendelse.forsendelsestype == "F" %}
                        Luftpost
                        {% endif %}
                    </div>
                </div>
                {% if object.fragtforsendelse.forsendelsestype == "F" %}
                <div class="row">
                    <div class="col-4">
                        <label>Betales af:</label>
                    </div>
                    <div class="col-8">
                        {% if object.modtager_betaler %}
                        Modtager
                        {% else %}
                        Afsender
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-4">
                        {% if object.fragtforsendelse %}
                        Forbindelsesnr.:
                        {% elif object.postforsendelse %}
                        Afsenderby­kode:
                        {% endif %}
                    </div>
                    <div class="col-8">
                        {% if object.fragtforsendelse %}
                            {{object.fragtforsendelse.forbindelsesnr}}
                        {% elif object.postforsendelse %}
                            {{object.postforsendelse.afsenderbykode}}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {% if object.fragtforsendelse %}
                        Fragtbrevnr.
                        {% elif object.postforsendelse %}
                        Post­forsendelses­nr.:
                        {% endif %}
                    </div>
                    <div class="col-8">
                        {% if object.fragtforsendelse %}
                        {{object.fragtforsendelse.fragtbrevsnummer}}
                        {% elif object.postforsendelse %}
                        {{object.postforsendelse.postforsendelsesnummer}}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        Afgangsdato:
                    </div>
                    <div class="col-8">
                        {% if object.fragtforsendelse %}
                            {{object.fragtforsendelse.afgangsdato}}
                        {% elif object.postforsendelse %}
                            {{object.postforsendelse.afgangsdato}}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        Beregnet faktureringsdato:
                    </div>
                    <div class="col-8">
                        {{object.beregnet_faktureringsdato}}
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <h5>Varelinjer</h5>

        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-2 px-0">
                    Vareart
                </th>
                <th class="col-2 px-0">
                    Varekode
                </th>
                <th class="col-1 px-0">
                    kg | liter
                </th>
                <th class="col-1 px-0">
                    Antal
                </th>
                <th class="col-2 px-0">
                    Fakturabeløb
                </th>
                <th class="col-2 px-0">
                    Afgiftssats
                </th>
                <th class="col-2 px-0">
                    Afgiftsbeløb
                </th>
            </tr>
            </thead>
            <tbody>


            {% for varelinje in object.varelinjer %}
            {% with varelinje.vareafgiftssats as sats %}

            <tr>
                <td class="col-2 px-0">
                    {{sats.vareart}}
                </td>
                <td class="col-2 px-0">
                    {{sats.afgiftsgruppenummer|zfill:9}}
                </td>
                <td class="col-1 px-0">
                    {{varelinje.mængde|default_if_none:""}}
                </td>
                <!-- TODO: Skal der vises kg/liter eller antal når der er tale om en procentsats eller sammensat sats? -->
                <td class="col-1 px-0">
                    {{varelinje.antal|default_if_none:""}}
                </td>
                <td class="col-2 px-0">
                    {{varelinje.fakturabeløb|floatformat:2}}
                </td>
                <td class="col-2 px-0">
                    {{sats.text}}
                </td>
                <td class="col-2 px-0">
                    {{varelinje.afgiftsbeløb|floatformat:2}}
                </td>
            </tr>
            {% endwith %}
            {% endfor %}

            </tbody>
        </table>

        <hr/>

        <h5>Notater</h5>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-2">Bruger</th>
                    <th class="col-2">Tidspunkt</th>
                    <th class="col-8">Notat</th>
                </tr>
            </thead>
            <tbody>
            {% for notat in object.notater %}
            <tr>
                <td>{{notat.brugernavn}}</td>
                <td>{{notat.oprettet}}</td>
                <td>{{notat.tekst}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">Ingen notater</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="form-row">
            <div class="ml-auto">
                {% if can_edit %}
                    {% if object.godkendt is not True %}
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#godkend_modal">
                        Godkend
                    </button>
                    {% endif %}
                    {% if object.godkendt is None %}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#afvis_modal">
                        Afvis
                    </button>
                    {% endif %}
                    {% if object.godkendt is not True %}
                    <a href="{% url 'tf10_edit' id=object.id %}" class="btn btn-primary">Redigér</a>
                    {% endif %}
                {% endif %}

                {% if object.godkendt is True and can_send_prisme %}
                <a href="{% url 'faktura_create' %}" class="btn btn-primary">Send til Prisme</a>
                {% endif %}
                {% if can_view_history %}
                    <a href="{% url 'tf10_history' id=object.id %}" class="btn btn-primary">Historik</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal" id="godkend_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Godkend afgiftsanmeldelse</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Er du sikker på at du vil godkende afgiftsanmeldelsen?</p>
                    {{form.notat}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nej</button>
                    <button type="submit" name="{{form.godkendt.name}}" value="true" class="btn btn-success">Ja</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="afvis_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Afvis afgiftsanmeldelse</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Er du sikker på at du vil afvise afgiftsanmeldelsen?</p>
                    {{form.notat}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nej</button>
                    <button type="submit" name="{{form.godkendt.name}}" value="false" class="btn btn-danger">Ja</button>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}
