django==4.2.24
coverage==7.3.0
beautifulsoup4==4.13.5
humanize==4.7.0
openpyxl==3.1.5
dict2xml==1.7.7
xmltodict==0.13.0
zeep>=4.2.1
zeep[xmlsec]>=1.3.13
requests_ntlm==1.2.0
requests[socks]
psycopg2-binary==2.9.10
whitenoise==6.0.0
django-bootstrap-icons==0.8.6
django-forms-dynamic==1.0.0
django-split-settings==1.3.2
django-tempus-dominus==5.1.2.17
django-two-factor-auth==1.15.5
django-phonenumber-field[phonenumberslite]==7.2.0
mypy==1.7.0
django-stubs[compatible-mypy]==4.2.7
types-requests==2.31.0.20240218
python-dateutil==2.9.0.post0
types-python-dateutil==2.9.0.20240316
pymemcache==4.0.0
tblib==3.0.0
django-csp==3.8
django-csp[jinja2]
django-csp-helpers==0.7.1
pandas==2.3.2
setuptools==80.9.0
