django==4.2.2
coverage==7.3.0
beautifulsoup4==4.12.2
humanize==4.7.0
beautifulsoup4==4.12.2
openpyxl==3.1.2
django-bootstrap-icons==0.8.6
dict2xml==1.7.3
xmltodict==0.13.0
zeep>=4.2.1
zeep[xmlsec]>=1.3.13
requests_ntlm==1.2.0
requests[socks]
psycopg2==2.9.6
whitenoise==6.0.0
django-forms-dynamic==1.0.0
django-tempus-dominus==5.1.2.17
