{% extends extend_template %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load common_tags %}

{% block extra_headers %}
<script type="text/javascript" src="{% static 'toldbehandling/js/formset.js' %}"></script>
<script type="text/javascript" src="{% static 'toldbehandling/js/formfile.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'toldbehandling/css/formfile.css' %}"/>
<link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}" >
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-lg">
        <h1>{% translate "Ansøgning om engangstilladelse til privat indførsel af øl, vin og spiritus" %}</h1>

        <div class="row">
            <div class="col-12">
                {{form.non_field_errors}}
            </div>
        </div>

        <hr/>

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                <label for="{{form.navn.id_for_label}}">{{form.navn.label}}</label>
                {% translate 'Navn på den borger der importerer varerne. Det vil oftest være dig selv.' as content %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.navn}}
                    {% include "told_common/widgets/info.html" with title=form.navn.label content=content %}
                </div>
                {{form.navn.errors}}
            </div>
            <div class="col-2 clearfix">
                <label for="{{form.cpr.id_for_label}}">{{form.cpr.label}}*</label>
                {% translate 'Personnummer på den borger der importerer varerne. Det vil oftest være dig selv.' as content %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.cpr}}
                    {% include "told_common/widgets/info.html" with title=form.cpr.label content=content %}
                </div>
                {{form.cpr.errors}}
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                <label for="{{form.adresse.id_for_label}}">{{form.adresse.label}}*</label>
                {% translate 'Adresse for den borger der importerer varerne.' as content %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.adresse}}
                    {% include "told_common/widgets/info.html" with title=form.cpr.label content=content %}
                </div>
                {{form.adresse.errors}}
            </div>
            <div class="col-2 clearfix">
                <label for="{{form.postnummer.id_for_label}}">{{form.postnummer.label}}</label>
                /
                <label for="{{form.by.id_for_label}}">{{form.by.label}}*</label>
            </div>
            <div class="col-2 pe-0">
                <div class="input-group">
                    {{form.postnummer}}
                    {% translate 'Postnummer for den borger der importerer varerne.' as content %}
                    {% include "told_common/widgets/info.html" with title=form.postnummer.label content=content %}
                </div>
                {{form.postnummer.errors}}
            </div>
            <div class="col-2 ps-0">
                <div class="input-group">
                {{form.by}}
                    {% translate 'By for den borger der importerer varerne.' as content %}
                    {% include "told_common/widgets/info.html" with title=form.by.label content=content %}
                </div>
                {{form.by.errors}}
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                <label for="{{form.telefon.id_for_label}}">{{form.telefon.label}}*</label>
                {% translate 'Telefonnummer for den borger der importerer varerne.' as content %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.telefon}}
                    {% include "told_common/widgets/info.html" with title=form.telefon.label content=content %}
                </div>
                {{form.telefon.errors}}
            </div>
            <div class="col-2 clearfix">
                <label for="{{form.bookingnummer.id_for_label}}">{{form.bookingnummer.label}}*</label>
                {% translate 'Bookingnummer for forsendelsen' as content %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.bookingnummer}}
                    {% include "told_common/widgets/info.html" with title=form.bookingnummer.label content=content %}
                </div>
                {{form.bookingnummer.errors}}
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                <label for="{{form.indførselstilladelse.id_for_label}}">{% translate "Indførselstilladelse" %}</label>
            </div>
            <div class="col-4 px-4">
                {% translate "Ingen" as ingen %}
                {{indførselstilladelse|default_if_none:ingen}}
            </div>
            <div class="col-2 clearfix">
                <label for="{{form.leverandørfaktura_nummer.id_for_label}}">{{form.leverandørfaktura_nummer.label}}*</label>
                {% translate 'Fakturanummer fra leverandøren (hvor varerne er købt)' as content %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.leverandørfaktura_nummer}}
                    {% include "told_common/widgets/info.html" with title=form.leverandørfaktura_nummer.label content=content %}
                </div>
                {{form.leverandørfaktura_nummer.errors}}
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                <label for="{{form.indleveringsdato.id_for_label}}">{{form.indleveringsdato.label}}*</label>
                {% translate 'Forventet dato for afgang til Grønland' as content %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.indleveringsdato}}
                    {% include "told_common/widgets/info.html" with title=form.indleveringsdato.label content=content %}
                </div>
                {{form.indleveringsdato.errors}}
            </div>
            <div class="col-2 clearfix">
                <label for="{{form.leverandørfaktura.id_for_label}}">{{form.leverandørfaktura.label}}*</label>
                {% translate 'Vedhæftning af varefaktura' as content %}
            </div>
            <div class="col-4">
                {{form.leverandørfaktura}}
                {{form.leverandørfaktura.errors}}
                {% if item %}
                <a href="{% url 'leverandørfaktura_view' id=item.id %}">
                    {{item.leverandørfaktura|file_basename|unquote}}
                </a>
                {% endif %}
            </div>
        </div>
        <hr/>
        <h5>{% translate "Afgifter" %}</h5>
        <p>
            {% translate "I henhold til gældende grønlandske afgiftsbestemmelser anmeldes følgende varer til afgiftsberigtigelse overfor den grønlandske landskasse" %}
        </p>
        <div class="row">
            <div class="col-2 px-0">

                <label>{% translate 'Vareart' %}*</label>
            </div>
            <div class="col-1 px-0">
                <label>{% translate "Vare­kode" %}</label>
            </div>
            <div class="col-1 px-0">
                <label>{% translate "kg | liter i alt" %}</label>
            </div>
            <div class="col-1 px-0">
                <label>{% translate "Antal" %}</label>
            </div>
            <div class="col-2 px-0">
                <label>{% translate "Fakturabeløb" %}</label>
            </div>
            <div class="col-2 px-0">
                <label>{% translate "Afgiftssats" %}</label>
            </div>
            <div class="col-2 px-0">
                <label>{% translate "Afgiftsbeløb" %}</label>
            </div>
            <div class="col-1 px-0"></div>
        </div>

        <div id="formset">
        {{ formset.management_form }}
            <div id="formset_container">
            {% for subform in formset %}
                {% include "told_common/tf5/subform.html" with subform=subform %}
            {% endfor %}
            </div>
        </div>
        <div id="formset_prototype" style="display: none">
            {% include "told_common/tf5/subform.html" with subform=formset.empty_form %}
        </div>

        <hr/>

        <div class="row align-items-center">
            <div class="col-2 px-0 offset-7">
                {% translate "Indførselsafgift" %}
            </div>
            <div class="col-3 px-0">
                <input class="form-control display" data-value="sum-afgiftsbeløb" readonly="readonly"/>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 px-0 offset-7">
                {% translate "Tillægsafgift alkohol" %}
            </div>
            <div class="col-3 px-0">
                <input class="form-control display" data-value="sum-tillægsafgift" readonly="readonly"/>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 px-0 offset-7">
                {% translate "Ekspeditionsgebyr" %}
            </div>
            <div class="col-3 px-0">
                <input class="form-control display" data-value="ekspeditionsgebyr" readonly="readonly"/>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 px-0 offset-7">
                {% translate "Afgift i alt" %}
            </div>
            <div class="col-3 px-0">
                <input class="form-control display" data-value="sum-total" readonly="readonly"/>
            </div>
        </div>

        {% if form.notat %}
        {{form.notat}}
        {% endif %}

        <hr/>
        <div class="clearfix">
            <button type="submit" class="btn btn-success float-end ms-1">
                {% if item %}{% translate "Opdatér" %}{% else %}{% translate "Gem" %}{% endif %}
            </button>
            {% if not item %}
            <button type="submit" name="betal" value="true" class="btn btn-success float-end mx-1">
                {% translate "Betal" %}
            </button>
            {% endif %}
        </div>
    </div>
</form>

{{ varesatser|json_script:"varesatser" }}
{{ afgiftstabeller|json_script:"afgiftstabeller" }}
{{ konstanter|json_script:"konstanter" }}
<script>
    window.satsTekster = {
        "kg": "{% translate '%f kr/kg' %}",
        "l": "{% translate '%f kr/l' %}",
        "ant": "{% translate '%f kr/stk' %}",
        "pct": "{% translate '%f %' %}",
        "sam": "",
    };
</script>
<script src="{% static 'toldbehandling/js/blanket.js' %}"></script>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
{% endblock %}
