{% load i18n %}
<div class="row">
    {{subform.id}}
    <div class="col-2">
        <div class="input-group">
            {{subform.vareafgiftssats}}
            {% translate 'Type af vare der importeres' as content %}
            {% include "told_common/widgets/info.html" with title=subform.vareafgiftssats.label content=content %}
        </div>
    </div>
    <div class="col-1" data-value="_varekode">
        <input class="form-control display" readonly data-value="varekode"/>
    </div>
    <div class="col-1">
        <div class="input-group">
            {{subform.mængde}}
            {% translate 'Mængde der importeres' as content %}
            {% include "told_common/widgets/info.html" with title=subform.mængde.label content=content %}
        </div>
    </div>
    <div class="col-1">
        <div class="input-group">
            {{subform.antal}}
            {% translate 'Antal der importeres' as content %}
            {% include "told_common/widgets/info.html" with title=subform.antal.label content=content %}
        </div>
    </div>
    <div class="col-2">
        <div class="input-group">
            {{subform.fakturabeløb}}
            {% translate 'Fakturabeløb inkl. moms.' as content %}
            {% include "told_common/widgets/info.html" with title=subform.fakturabeløb.label content=content %}
        </div>
    </div>
    <div class="col-2" data-value="_afgiftssats">
        <input class="form-control display" readonly data-value="afgiftssats"/>
    </div>
    <div class="col-2" data-value="_afgiftsbeløb">
        <input class="form-control display" readonly data-value="afgiftsbeløb"/>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-info me-2 remove-row">
            <span class="material-icons">remove</span>
        </button>
        <button type="button" class="btn btn-info add-row">
            <span class="material-icons">add</span>
        </button>
    </div>
</div>
