{% extends extend_template %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load common_tags %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-lg">
        <h1>{% translate "Engangstilladelse til privat indførsel af øl, vin og spiritus" %}</h1>

        {% if not printing %}
        {% if object.status == "godkendt" %}
        <span class="badge bg-success">Godkendt</span>
        {% elif object.status == "annulleret" %}
        <span class="badge bg-danger">Annulleret</span>
        {% elif object.status == "afvist" %}
        <span class="badge bg-danger">Afvist</span>
        {% elif object.status == "ny" %}
        <span class="badge bg-secondary">Ny</span>
        {% endif %}

        {% if object.payment_status == "created" %}
        <span class="badge bg-secondary">Ikke betalt</span>
        {% elif object.payment_status == "paid" %}
        <span class="badge bg-success">Betalt</span>
        {% elif object.payment_status == "declined" %}
        <span class="badge bg-danger">Afvist</span>
        {% endif %}
        

        <div class="row">
            <div class="col-12">
                {{form.non_field_errors}}
            </div>
        </div>
        {% endif %}
        <hr/>

        {% localize off %}

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                {% translate "Navn" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.navn}}
                </div>
            </div>
            <div class="col-2 clearfix">
                {% translate "CPR" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.cpr}}
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                {% translate "Adresse" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.adresse}}
                </div>
            </div>
            <div class="col-2 clearfix">
                {% translate "Postnr/by" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.postnummer}}
                    {{object.by}}
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                {% translate "Telefon" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.telefon}}
                </div>
            </div>
            <div class="col-2 clearfix">
                {% translate "Bookingnummer" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.bookingnummer}}
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            {% if not printing %}
            <div class="col-2 clearfix">
                {% translate "Indførselstilladelse" %}
            </div>
            <div class="col-4">
                {% translate "Ingen" as ingen %}
                {{object.indførselstilladelse|default_if_none:ingen}}
            </div>
            {% endif %}
            <div class="col-2 clearfix">
                {% translate "Fakturanummer" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.leverandørfaktura_nummer}}
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                {% translate "Indleveringsdato" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.indleveringsdato|date:"d.m.Y"}}
                </div>
            </div>
            {% if not printing %}
            <div class="col-2 clearfix">
                {% translate "Varefaktura" %}
            </div>
            <div class="col-4">
                <a href="{% url 'tf5_leverandørfaktura' id=object.id %}">
                    {{object.leverandørfaktura|file_basename}}
                </a>
            </div>
            {% endif %}
        </div>

        {% endlocalize %}

        <hr/>
        <h5>{% translate "Afgifter" %}</h5>

        <h5>Varelinjer med afgifter</h5>

        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-2 px-0">
                    {% translate "Vareart" %}
                </th>
                <th class="col-2 px-0">
                    {% translate "Varekode" %}
                </th>
                <th class="col-1 px-0">
                    {% translate "kg | liter" %}
                </th>
                <th class="col-1 px-0">
                    {% translate "Antal" %}
                </th>
                <th class="col-2 px-0">
                    {% translate "Fakturabeløb" %}
                </th>
                <th class="col-2 px-0">
                    {% translate "Afgiftssats" %}
                </th>
                <th class="col-2 px-0">
                    {% translate "Afgiftsbeløb" %}
                </th>
            </tr>
            </thead>
            <tbody>


            {% for varelinje in object.varelinjer %}
            {% with varelinje.vareafgiftssats as sats %}

            <tr>
                <td class="col-2 px-0">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == "kl" %}
                    {{sats.vareart_kl}}
                    {% else %}
                    {{sats.vareart_da}}
                    {% endif %}
                </td>
                <td class="col-2 px-0">
                    {{sats.afgiftsgruppenummer|zfill:9}}
                </td>
                <td class="col-1 px-0">
                    {{varelinje.mængde|default_if_none:""}}
                </td>
                <!-- TODO: Skal der vises kg/liter eller antal når der er tale om en procentsats eller sammensat sats? -->
                <td class="col-1 px-0">
                    {{varelinje.antal|default_if_none:""}}
                </td>
                <td class="col-2 px-0">
                    {{varelinje.fakturabeløb|floatformat:2}}
                </td>
                <td class="col-2 px-0">
                    {{sats.text}}
                </td>
                <td class="col-2 px-0">
                    {{varelinje.afgiftsbeløb|floatformat:2}}
                </td>
            </tr>
            {% endwith %}
            {% endfor %}

            </tbody>

            <tfoot>
            <tr>
                <td colspan="5" rowspan="4"></td>
                <td style="font-weight: bold">{% translate "Indførselsafgift" %}</td>
                <td>{{object.afgift_sum}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">{% translate "Tillægsafgift alkohol" %}</td>
                <td>{{object.tillægsafgift}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">{% translate "Ekspeditionsgebyr" %}</td>
                <td>{{object.ekspeditionsgebyr}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">{% translate "Afgift i alt" %}</td>
                <td>{{object.afgift_total}}</td>
            </tr>
            </tfoot>
        </table>

        {% if not printing %}
        <div class="form-row">
            <div class="ml-auto">
                {% if can_edit %}
                <a class="btn btn-primary" href="{% url 'tf5_edit' object.id %}">{% translate "Redigér" %}</a>
                {% endif %}

                {% if can_cancel %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#annuller_modal">
                    {% translate "Annullér" %}
                </button>
                {% endif %}

                {% if can_create_tilladelse or can_send_tilladelse %}
                {% csrf_token %}
                {% if can_create_tilladelse %}
                <button name="opret" value="true" formaction="{% url 'tf5_tilladelse' object.id %}?next={% url 'tf5_tilladelse' object.id %}" class="btn btn-success">
                    {% translate "Opret tilladelse" %}
                </button>
                {% endif %}
                {% if can_send_tilladelse %}
                <button name="send" value="true" formaction="{% url 'tf5_tilladelse' object.id %}?next={% url 'tf5_tilladelse' object.id %}" class="btn btn-success">
                    {% translate "Send tilladelse" %}
                </button>
                {% endif %}
                {% endif %}

                {% if can_view_tilladelse %}
                <a class="btn btn-primary" href="{% url 'tf5_tilladelse' object.id %}">Download tilladelse</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="modal" id="annuller_modal" tabindex="-1" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Annullér</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Er du sikker på at du vil annullere indførselsansøgningen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nej</button>
                    <button type="submit" name="{{form.annulleret.name}}" value="true" class="btn btn-danger">Ja</button>
                </div>
            </div>
        </div>
    </div>
</form>



{% if not printing %}
{% if messages %}
<div class="modal" id="message_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Returstatus</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for message in messages %}
                {{ message|linebreaks }}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    const modal = new bootstrap.Modal('#message_modal', {});
    modal.show();
</script>
{% endif %}

<script>
    $(".modal").on("show.bs.modal", function () {
        $(this).find("input,select,textarea").removeAttr("disabled");
    });
    $(".modal").on("hide.bs.modal", function () {
        $(this).find("input,select,textarea").attr("disabled", "disabled");
    });
</script>
{% endif %}
{% endblock %}
