{% extends extend_template %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load common_tags %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% if not printing %}
    {% csrf_token %}
    {% endif %}

    <div class="content">
        {% if form.non_field_errors and not printing %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div class="row">
            <div class="col-6">
                <h1 class="mb-3">{% translate "Engangstilladelse til privat indførsel af øl, vin og spiritus" %}</h1>
                {% if not printing %}
                {% include "told_common/status.html" with item=object %}
                {% include "told_common/payment_status.html" with object=object %}
                {% endif %}
            </div>
            <div class="col-6 text-end">
                {# Object actions #}

                {% if not printing %}

                {% if can_edit %}
                <a class="btn btn-primary me-2" href="{% url 'tf5_edit' object.id %}">
                    <span class="material-icons">edit</span>
                    <span>{% translate "Redigér" %}</span>
                </a>
                {% endif %}

                {% if can_cancel %}
                <button type="button" class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#annuller_modal">
                    <span class="material-icons">cancel</span>
                    <span>{% translate "Annullér" %}</span>
                </button>
                {% endif %}

                {% if can_create_tilladelse or can_send_tilladelse %}
                {% csrf_token %}
                {% if can_create_tilladelse %}
                <button name="opret" value="true" formaction="{% url 'tf5_tilladelse' object.id %}?next={% url 'tf5_tilladelse' object.id %}" class="btn btn-secondary me-2">
                    <span class="material-icons">create</span>
                    <span>{% translate "Opret tilladelse" %}</span>
                </button>
                {% endif %}
                {% if can_send_tilladelse %}
                <button name="send" value="true" formaction="{% url 'tf5_tilladelse' object.id %}?next={% url 'tf5_tilladelse' object.id %}" class="btn btn-secondary me-2">
                    <span class="material-icons">send</span>
                    <span>{% translate "Send tilladelse" %}</span>
                </button>
                {% endif %}
                {% endif %}

                {% if can_view_tilladelse %}
                <a class="btn btn-secondary me-2" href="{% url 'tf5_tilladelse' object.id %}">
                    <span class="material-icons">download</span>
                    <span>{% translate "Download tilladelse" %}</span>
                </a>
                {% endif %}

                {% if can_opret_betaling %}
                <button type="button" class="btn btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#betal_modal">
                    <span class="material-icons">create</span>
                    <span>{% translate "Opret betaling" %}</span>
                </button>
                {% endif %}

                {% endif %}{# not printing #}
            </div>
        </div>

        <hr>

        {% localize off %}
        <div class="row align-items-center">
            <div class="col-2 clearfix">
                {% translate "Navn" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.navn}}
                </div>
            </div>
            <div class="col-2 clearfix">
                {% translate "CPR" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.cpr|zfill:10}}
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                {% translate "Adresse" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.adresse}}
                </div>
            </div>
            <div class="col-2 clearfix">
                {% translate "Postnr/by" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.postnummer}}
                    {{object.by}}
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                {% translate "Telefon" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.telefon}}
                </div>
            </div>
            <div class="col-2 clearfix">
                {% translate "Bookingnummer" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.bookingnummer}}
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            {% if not printing %}
            <div class="col-2 clearfix">
                {% translate "Indførselstilladelse" %}
            </div>
            <div class="col-4">
                {% translate "Ingen" as ingen %}
                {{object.indførselstilladelse|default_if_none:ingen}}
            </div>
            {% endif %}
            <div class="col-2 clearfix">
                {% translate "Fakturanummer" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.leverandørfaktura_nummer}}
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-2 clearfix">
                {% translate "Indleveringsdato" %}
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{object.indleveringsdato|date:"d.m.Y"}}
                </div>
            </div>
            {% if not printing %}
            <div class="col-2 clearfix">
                {% translate "Varefaktura" %}
            </div>
            <div class="col-4">
                <a href="{% url 'tf5_leverandørfaktura' id=object.id %}">
                    {{object.leverandørfaktura|file_basename}}
                </a>
            </div>
            {% endif %}
        </div>

        {% endlocalize %}

        <hr>

        <h5 class="mb-3">{% translate "Varelinjer med afgifter" %}</h5>

        <table class="table table-light">
            <thead>
            <tr>
                <th class="col-2">
                    {% translate "Vareart" %}
                </th>
                <th class="col-2">
                    {% translate "Varekode" %}
                </th>
                <th class="col-1">
                    {% translate "kg | liter" %}
                </th>
                <th class="col-1">
                    {% translate "Antal" %}
                </th>
                <th class="col-2">
                    {% translate "Fakturabeløb" %}
                </th>
                <th class="col-2">
                    {% translate "Afgiftssats" %}
                </th>
                <th class="col-2">
                    {% translate "Afgiftsbeløb" %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for varelinje in object.varelinjer %}
            {% with varelinje.vareafgiftssats as sats %}
            <tr>
                <td class="col-2">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == "kl" %}
                    {{sats.vareart_kl}}
                    {% else %}
                    {{sats.vareart_da}}
                    {% endif %}
                </td>
                <td class="col-2">
                    {{sats.afgiftsgruppenummer|zfill:9}}
                </td>
                <td class="col-1">
                    {{varelinje.mængde|default_if_none:""}}
                </td>
                {# TODO: Skal der vises kg/liter eller antal når der er tale om en procentsats eller sammensat sats? #}
                <td class="col-1">
                    {{varelinje.antal|default_if_none:""}}
                </td>
                <td class="col-2">
                    {{varelinje.fakturabeløb|floatformat:2}}
                </td>
                <td class="col-2">
                    {{sats.text}}
                </td>
                <td class="col-2">
                    {{varelinje.afgiftsbeløb|floatformat:2}}
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" rowspan="4"></td>
                <td class="px-3"><strong>{% translate "Indførselsafgift" %}</strong></td>
                <td class="px-3">{{object.afgift_sum}}</td>
            </tr>
            <tr>
                <td class="px-3"><strong>{% translate "Tillægsafgift alkohol" %}</strong></td>
                <td class="px-3">{{object.tillægsafgift}}</td>
            </tr>
            <tr>
                <td class="px-3"><strong>{% translate "Ekspeditionsgebyr" %}</strong></td>
                <td class="px-3">{{object.ekspeditionsgebyr}}</td>
            </tr>
            <tr>
                <td class="px-3"><strong>{% translate "Afgift i alt" %}</strong></td>
                <td class="px-3">{{object.afgift_total}}</td>
            </tr>
            </tfoot>
        </table>

        {% if show_notater %}
        <h5 class="mb-3">{% translate "Notater" %}</h5>
        {% include "told_common/notat/list.html" with notater=object.notater %}
        {% endif %}
    </div>

    <div class="modal" id="annuller_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Annullér</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Er du sikker på at du vil annullere indførselsansøgningen?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="{{form.annulleret.name}}" value="true" class="btn btn-danger">
                        <span class="material-icons">cancel</span>
                        <span>{% translate "Ja" %}</span>
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {% translate "Nej" %}
                    </button>
                </div>
            </div>
        </div>
    </div>

{% if can_opret_betaling %}
<div class="modal" id="betal_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Opret betaling</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Dette vil sætte afgiftsanmeldelsens betalingsstatus til "betalt", selvom borgeren ikke har gennemført betaling gennem websitet, f.eks. hvis der i stedet er foretaget en bankoverførsel.</p>
                <p>Er du sikker på at du vil sætte status til "betalt"?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" name="{{form.betalt.name}}" value="true" class="btn btn-secondary">
                    <span class="material-icons">edit</span>
                    <span>{% translate "Opret betaling" %}</span>
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {% translate "Annullér" %}
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if not printing %}
{% if messages %}
<div class="modal" id="message_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Returstatus</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for message in messages %}
                {{ message|linebreaks }}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

</form>
<script nonce="{{ request.csp_nonce }}">
    const modal = new bootstrap.Modal('#message_modal', {});
    modal.show();
</script>
{% endif %}

<script nonce="{{ request.csp_nonce }}">
    $(".modal").on("show.bs.modal", function () {
        $(this).find("input,select,textarea").removeAttr("disabled");
    });
    $(".modal").on("hide.bs.modal", function () {
        $(this).find("input,select,textarea").attr("disabled", "disabled");
    });
</script>
{% endif %}
{% endblock %}
