{% extends extend_template %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load common_tags %}

{% block extra_headers %}
<script type="text/javascript" src="{% static 'toldbehandling/js/formset.js' %}"></script>
<script type="text/javascript" src="{% static 'toldbehandling/js/formfile.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'toldbehandling/css/formfile.css' %}"/>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-lg">
        <h1>{% translate "Afgiftsanmeldelse" %}</h1>
        <div class="row">
            <h4 class="col-6">{% translate "For indførsel af afgiftspligtige varer i Grønland" %}</h4>
            {% if form.oprettet_på_vegne_af %}
            <div class="col-6">
                <div class="row align-items-center">
                    <div class="col-4">
                        <label for="{{form.oprettet_på_vegne_af.id_for_label}}">{{form.oprettet_på_vegne_af.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.oprettet_på_vegne_af}}
                        {{form.oprettet_på_vegne_af.errors}}
                    </div>
                </div>
            </div>
            {% endif %}
			{% if gem_top %}
            <div class="col-6 clearfix my-1">
                <button type="submit" class="btn btn-success float-end">{% translate "Gem" %}</button>
            </div>
			{% endif %}
        </div>
        <div class="row">
            <div class="col-12">
                {{form.non_field_errors}}
            </div>
        </div>

        <hr/>

        <div class="row">

            <div class="col-6">
                <h5>{% translate "Afsender" %}</h5>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.afsender_cvr.id_for_label}}">{{form.afsender_cvr.label}}</label>
                    </div>
                    <div class="col-8">
                        {{form.afsender_cvr}}
                        {{form.afsender_cvr.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.afsender_navn.id_for_label}}">{{form.afsender_navn.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.afsender_navn}}
                        {{form.afsender_navn.errors}}
                    </div>
                </div>
                <div class="row" id="afsender_adresse_container" >
                <div class="col-12">
                        <div class="alert alert-warning multiple" style="display: none">
                            <label for="{{form.afsender_existing_id.id_for_label}}">
                            <span data-multi="cvr">
                            {% translate "Der er mere end én registreret afsender for det angivne CVR-nummer." %}
                            </span>
                            <span data-multi="navn">
                            {% translate "Der er mere end én registreret afsender for det angivne navn." %}
                            </span>
                            {% translate "Vælg én fra listen herunder, eller udfyld felterne med nye data." %}
                        </label>
                        <p>
                                {{form.afsender_existing_id}}
                        </p>
                        </div>
                        <input style="display: none" type="hidden" name="{{form.afsender_existing_id.name}}"/>
                        <div class="alert alert-warning changed" style="display: none">
                            <div>
                                {% translate "Afsenderoplysninger er ændrede i forhold til den afsender, der allerede er registreret." %}
                            </div>
                            {{form.afsender_change_existing}}
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.afsender_adresse.id_for_label}}">{{form.afsender_adresse.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.afsender_adresse}}
                        {{form.afsender_adresse.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.afsender_postbox.id_for_label}}">{{form.afsender_postbox.label}}</label>
                    </div>
                    <div class="col-8">
                        {{form.afsender_postbox}}
                        {{form.afsender_postbox.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.afsender_postnummer.id_for_label}}">{{form.afsender_postnummer.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.afsender_postnummer}}
                        {{form.afsender_postnummer.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.afsender_by.id_for_label}}">{{form.afsender_by.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.afsender_by}}
                        {{form.afsender_by.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.afsender_telefon.id_for_label}}">{{form.afsender_telefon.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.afsender_telefon}}
                        {{form.afsender_telefon.errors}}
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h5>{% translate "Modtager" %}</h5>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.modtager_cvr.id_for_label}}">{{form.modtager_cvr.label}}</label>
                    </div>
                    <div class="col-8">
                        {{form.modtager_cvr}}
                        {{form.modtager_cvr.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.modtager_navn.id_for_label}}">{{form.modtager_navn.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.modtager_navn}}
                        {{form.modtager_navn.errors}}
                    </div>
                </div>


                <div class="row" id="modtager_adresse_container" >
                <div class="col-12">
                        <div class="alert alert-warning multiple" style="display: none">
                            <label for="{{form.modtager_existing_id.id_for_label}}">
                            <span data-multi="cvr">
                            {% translate "Der er mere end én registreret modtager for det angivne CVR-nummer." %}
                            </span>
                            <span data-multi="navn">
                            {% translate "Der er mere end én registreret modtager for det angivne navn." %}
                            </span>
                            {% translate "Vælg én fra listen herunder, eller udfyld felterne med nye data." %}
                        </label>
                        <p>
                                {{form.modtager_existing_id}}
                        </p>
                        </div>
                        <input style="display: none" type="hidden" name="{{form.modtager_existing_id.name}}"/>
                        <div class="alert alert-warning changed" style="display: none">
                            <div>
                                {% translate "Modtageroplysninger er ændrede i forhold til den modtager der allerede er registreret." %}
                            </div>
                            {{form.modtager_change_existing}}
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.modtager_adresse.id_for_label}}">{{form.modtager_adresse.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.modtager_adresse}}
                        {{form.modtager_adresse.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.modtager_postbox.id_for_label}}">{{form.modtager_postbox.label}}</label>
                    </div>
                    <div class="col-8">
                        {{form.modtager_postbox}}
                        {{form.modtager_postbox.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.modtager_postnummer.id_for_label}}">{{form.modtager_postnummer.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.modtager_postnummer}}
                        {{form.modtager_postnummer.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.modtager_by.id_for_label}}">{{form.modtager_by.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.modtager_by}}
                        {{form.modtager_by.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.modtager_telefon.id_for_label}}">{{form.modtager_telefon.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.modtager_telefon}}
                        {{form.modtager_telefon.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.indførselstilladelse.id_for_label}}">{{form.indførselstilladelse.label}}</label>
                    </div>
                    <div class="col-8">
                        {{form.indførselstilladelse}}
                        {{form.indførselstilladelse.errors}}
                    </div>
                </div>
        </div>
        </div>

        <hr/>
        <h5>{% translate "Oplysninger om fragt" %}</h5>

        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.leverandørfaktura_nummer.id_for_label}}">{{form.leverandørfaktura_nummer.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.leverandørfaktura_nummer}}
                        {{form.leverandørfaktura_nummer.errors}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.leverandørfaktura.id_for_label}}">{{form.leverandørfaktura.label}}*</label>
                    </div>
                    <div class="col-8">
                        {{form.leverandørfaktura}}
                        {{form.leverandørfaktura.errors}}
                        {% if item %}
                        <a href="{% url 'leverandørfaktura_view' id=item.id %}">
                            {{item.leverandørfaktura|file_basename|unquote}}
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="{{form.fragtbrev.id_for_label}}">{% translate "Fragtbrev" %}</label>
                    </div>
                    <div class="col-8">
                        {{form.fragtbrev}}
                        {{form.fragtbrev.errors}}
                        {% if item.fragtforsendelse %}
                        <a href="{% url 'fragtbrev_view' id=item.fragtforsendelse.id %}">
                            {{item.fragtforsendelse.fragtbrev|file_basename|unquote}}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <label for="{{form.fragttype.id_for_label}}">{% translate "Fragttype" %}*</label>
                    </div>
                    <div class="col-6">
                        {{form.fragttype}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="{{form.forbindelsesnr.id_for_label}}">{% translate "Forbindelsesnr/afsenderbykode" %}*</label>
                    </div>
                    <div class="col-6">
                        {{form.forbindelsesnr}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="{{form.fragtbrevnr.id_for_label}}">{% translate "Fragtbrevnr/postforsendelsesnummer" %}*</label>
                    </div>
                    <div class="col-6">
                        {{form.fragtbrevnr}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="{{form.afgangsdato.id_for_label}}">{% translate "Afgangsdato" %}*</label>
                    </div>
                    <div class="col-6">
                        {{form.afgangsdato}}
                    </div>
                </div>
                <!-- Should ideally be hidden, unless Fragttype == Luftfragt -->
                <div class="row" id="betales_af_row" {% if form.fragttype.value != 'luftfragt' %}style="display:none"{% endif %}>
                    <div class="col-6">
                        <label for="{{form.betales_af.id_for_label}}">{% translate "Betales af (kun relevant for luftfragt)" %}*</label>
                    </div>
                    <div class="col-6">
                        {{form.betales_af}}
                    </div>
                </div>

            </div>
        </div>

        <hr/>

        <h5>{% translate "Varelinjer med afgifter" %}</h5>
		{% if not admin %}
        <p>
            {% translate "I henhold til gældende grønlandske afgiftsbestemmelser anmeldes følgende varer til afgiftsberigtigelse overfor den grønlandske landskasse" %}
        </p>
		{% endif %}
        <div class="row">
            <div class="col-2 px-0">
                <label>{% translate "Vareart" %}*</label>
            </div>
            <div class="col-1 px-0">
                <label>{% translate "Vare­kode" %}</label>
            </div>
            <div class="col-1 px-0">
                <label>{% translate "kg | liter i alt" %}</label>
            </div>
            <div class="col-1 px-0">
                <label>{% translate "Antal" %}</label>
            </div>
            <div class="col-2 px-0">
                <label>{% translate "Fakturabeløb" %}</label>
            </div>
            <div class="col-2 px-0">
                <label>{% translate "Afgiftssats" %}</label>
            </div>
            <div class="col-2 px-0">
                <label>{% translate "Afgiftsbeløb" %}</label>
            </div>
            <div class="col-1 px-0">
                <label>{% translate "Slet" %}</label>
            </div>
        </div>

        <div id="formset">
        {{ formset.management_form }}
            <div id="formset_container">
            {% for subform in formset %}
                {% include "told_common/tf10/subform.html" with subform=subform %}
            {% endfor %}
            </div>
        </div>
        <div id="formset_prototype" style="display: none">
            {% include "told_common/tf10/subform.html" with subform=formset.empty_form %}
        </div>

        <div class="row">
            <div class="col-7 px-0">
                <button type="button" class="btn btn-primary" id="formset_add">+</button>
            </div>
            <div class="col-2 px-0">
                {% translate "Afgift i alt" %}
            </div>
            <div class="col-3 px-0">
                <input class="form-control display" data-value="sum-afgiftsbeløb"/>
            </div>
        </div>

        <hr/>

		{% if vis_notater %}

        <h5>Notater</h5>

        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-2">Bruger</th>
                <th class="col-2">Tidspunkt</th>
                <th class="col-8">Notat</th>
            </tr>
            </thead>
            <tbody>
            {% for notat in notater %}
            <tr>
                <td>{{notat.brugernavn}}</td>
                <td>{{notat.oprettet}}</td>
                <td>{{notat.tekst}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">Ingen notater</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row">
            <div class="col-12 px-0">
                {{form.notat}}
            </div>
        </div>
		{% endif %}

        <div class="clearfix">
            <button type="submit" class="btn btn-success float-end">
                {% if item %}{% translate "Opdatér" %}{% else %}{% translate "Indsend" %}{% endif %}
            </button>
        </div>
    </div>
</form>

{{ varesatser|json_script:"varesatser" }}
<script>
    const satsTekster = {
        "kg": "{% translate '%f kr/kg' %}",
        "l": "{% translate '%f kr/l' %}",
        "ant": "{% translate '%f kr/stk' %}",
        "pct": "{% translate '%f %' %}",
        "sam": "",
    };
    const aktører = [
        {
            "fields": {
                "cvr": "[name={{form.afsender_cvr.name}}]",
                "navn": "[name={{form.afsender_navn.name}}]",
                "adresse": "[name={{form.afsender_adresse.name}}]",
                "postnummer": "[name={{form.afsender_postnummer.name}}]",
                "by": "[name={{form.afsender_by.name}}]",
                "postbox": "[name={{form.afsender_postbox.name}}]",
                "telefon": "[name={{form.afsender_telefon.name}}]",
            },
            "searchfields": ["cvr", "navn"],  // Felter som initierer søgning
            "api": "{% url 'rest' path='afsender' %}",
            "multi_container": "#afsender_adresse_container",
            "multi_label": {
                "cvr": "#afsender_adresse_container [data-multi=cvr]",
                "navn": "#afsender_adresse_container [data-multi=navn]"
            },
            "multi_changed_container": "#afsender_address_changed",
            "preselected_id": {{afsender_existing_id|default:"null"}},
        },
        {
            "fields": {
                "cvr": "[name={{form.modtager_cvr.name}}]",
                "navn": "[name={{form.modtager_navn.name}}]",
                "adresse": "[name={{form.modtager_adresse.name}}]",
                "postnummer": "[name={{form.modtager_postnummer.name}}]",
                "by": "[name={{form.modtager_by.name}}]",
                "postbox": "[name={{form.modtager_postbox.name}}]",
                "telefon": "[name={{form.modtager_telefon.name}}]",
            },
            "searchfields": ["cvr", "navn"],
            "api": "{% url 'rest' path='modtager' %}",
            "multi_container": "#modtager_adresse_container",
            "multi_label": {
                "cvr": "#modtager_adresse_container [data-multi=cvr]",
                "navn": "#modtager_adresse_container [data-multi=navn]"
            },
            "multi_changed_container": "#modtager_address_changed",
            "preselected_id": {{modtager_existing_id|default:"null"}},
        }
    ];
</script>
<script src="{% static 'toldbehandling/js/blanket.js' %}"></script>
<script>
    $("[name={{form.fragttype.name}}]").on("change", function (){
        $("#betales_af_row").toggle($(this).val() === "luftfragt");
    });
</script>
{% endblock %}
