{% extends extend_template %}
{% load static %}
{% load i18n %}
{% load l10n %}

{# Docs for bootstrap-table: https://bootstrap-table.com/docs/ #}
{% block extra_headers %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css">
{% endblock %}
{% block extra_footers %}
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/defer-url/bootstrap-table-defer-url.min.js"></script>
{% endblock %}

{% block content %}

<div class="mx-5">

    <h1>{{ title }}</h1>

    {{form.errors}}

    <form method="get" action="{% url 'tf10_list' %}">
        <div class="row">
            <div class="col-4">Dato</div>
            <div class="col-4">{{form.dato_efter}}</div>
            <div class="col-4">{{form.dato_før}}</div>
        </div>
        <div class="row">
            <div class="col-4"><label for="{{form.vareafgiftssats.name}}" class="form-label">Varetype</label></div>
            <div class="col-8">
                {{form.vareafgiftssats}}
            </div>
        </div>
        <div class="row">
            <div class="col-4"><label for="{{form.godkendt.name}}" class="form-label">Status</label></div>
            <div class="col-8">
                {{form.godkendt}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 cleafix">
                <button type="submit" class="btn btn-primary float-end">Søg</button>
                {% if can_create %}
                <a href="{% url 'tf10_create' %}" class="btn btn-primary float-end">Opret ny</a>
                {% endif %}
            </div>
        </div>
    </form>
    <hr/>

    <table class="table table-bordered table-striped"
           data-toggle="table"
           data-sticky-header="true"
           data-classes="table"
           data-data-field="items"
           data-sortable="true"
           data-pagination="true"
           data-pagination-parts="['pageList']"
           data-page-size="20"
           data-page-number="{{search_data.offset}}"
           data-side-pagination="server"
           data-pagination-loop="false"
           data-defer-url="{% url 'tf10_list' %}?json=1"
           data-query-params="queryParams"
           data-total-rows="{{total}}"
           data-silent-sort="true" {# vil vi vise en loading-boks? #}
           data-remember-order="true"
    >
        <thead>
        <tr>
            <th data-sortable="true" data-field="id">Nummer</th>
            <th data-sortable="true" data-field="dato">Dato</th>
            <th data-sortable="true" data-field="afsender">Afsender</th>
            <th data-sortable="true" data-field="modtager">Modtager</th>
            <th data-sortable="true" data-field="godkendt">Status</th>
            <th data-field="actions">Handlinger</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.dato}}</td>
            <td>{{item.afsender.navn}}</td>
            <td>{{item.modtager.navn}}</td>
            <td>{{item.godkendt|godkendt}}</td>
            <td>
                {% include actions_template with item=item %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">
                {% translate "Ingen søgeresultater" %}
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{{search_data|json_script:"search_data"}}

<script>
function queryParams(params){  // Kaldes af bootstrap-table fordi vi peger på den med data-query-params
    if (params["offset"] < 0) {
        params["offset"] = 0;
    }
    const search_data = JSON.parse($("#search_data").text());
    for (let key in search_data) {
        if (key !== "offset" && key !== "limit") {
            params[key] = search_data[key];
        }
    }
    return params;
}
</script>
{% endblock %}
