{% extends extend_template %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load common_tags %}
{% load bootstrap_icons %}

{# Docs for bootstrap-table: https://bootstrap-table.com/docs/ #}
{% block extra_headers %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css">
{% endblock %}
{% block extra_footers %}
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/defer-url/bootstrap-table-defer-url.min.js"></script>
{% endblock %}

{% block content %}

<div class="mx-5">

    <h1>{{ title }}</h1>

    {{form.errors}}

    <form method="get" action="{% url 'tf10_list' %}">
        <div class="row">
            <div class="col-4"><label for="{{form.godkendt.name}}" class="form-label">Status</label></div>
            <div class="col-8">
                {{form.godkendt}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">Oprettelsesdato mellem</div>
            <div class="col-4">{{form.dato_efter}}</div>
            <div class="col-4">{{form.dato_før}}</div>
        </div>
        <div class="row">
            <div class="col-4">Afgangsdato mellem</div>
            <div class="col-4">{{form.afgangsdato_efter}}</div>
            <div class="col-4">{{form.afgangsdato_før}}</div>
        </div>
        <div class="row">
            <div class="col-4"><label for="{{form.afsender.name}}" class="form-label">Afsender</label></div>
            <div class="col-8">
                {{form.afsender}}
            </div>
        </div>
        <div class="row">
            <div class="col-4"><label for="{{form.modtager.name}}" class="form-label">Modtager</label></div>
            <div class="col-8">
                {{form.modtager}}
            </div>
        </div>
        <div class="row">
            <div class="col-4"><label for="{{form.vareart.name}}" class="form-label">Varetype</label></div>
            <div class="col-8">
                {{form.vareart}}
            </div>
        </div>
        <div class="row">
            <div class="col-4"><label for="{{form.id.name}}" class="form-label">Anmeldelsesnummer</label></div>
            <div class="col-8">
                {{form.id}}
            </div>
        </div>
        <div class="row">
            <div class="col-4"><label for="{{form.afsenderbykode_or_forbindelsesnr.name}}" class="form-label">Afsender bykode/forbindelsesnummer</label></div>
            <div class="col-8">
                {{form.afsenderbykode_or_forbindelsesnr}}
            </div>
        </div>
        <div class="row">
            <div class="col-4"><label for="{{form.postforsendelsesnummer_or_fragtbrevsnummer.name}}" class="form-label">Postforsendelsesnummer/fragtbrevsnummer</label></div>
            <div class="col-8">
                {{form.postforsendelsesnummer_or_fragtbrevsnummer}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 cleafix">
                <button type="submit" class="btn btn-primary float-end">Søg</button>
                {% if can_create %}
                <a href="{% url 'tf10_create' %}" class="btn btn-primary float-end">Opret ny</a>
                {% endif %}
            </div>
        </div>
    </form>
    <hr/>

    <div class="card" id="create_message" style="display:none">
        <div class="card-body text-center">
            {% bs_icon "check2-circle" size="2em" color="green" %}
            <div>
                <div style="display:inline-block">
                    {% translate "Afgiftsanmeldelsen blev indregistreret. Blanket med nummer =" %}
                </div>
                <div style="display:inline-block" id="created_form_id"></div>
                <div style="display:inline-block">
                    {% translate "afventer nu godkendelse." %}
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="update_message" style="display:none">
        <div class="card-body text-center">
            {% bs_icon "check2-circle" size="2em" color="green" %}
            <div>
                <div style="display:inline-block">
                    {% translate "Afgiftsanmeldelsen med nummer =" %}
                </div>
                <div style="display:inline-block" id="updated_form_id"></div>
                <div style="display:inline-block">
                    {% translate "blev opdateret." %}
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped"
           data-toggle="table"
           data-sticky-header="true"
           data-classes="table"
           data-data-field="items"
           data-sortable="true"
           data-pagination="true"
           data-pagination-parts="['pageList']"
           data-page-size="{{search_data.limit}}"
           data-page-number="{{search_data.page_number}}"
           data-side-pagination="server"
           data-pagination-loop="false"
           data-defer-url="{% url 'tf10_list' %}?json=1"
           data-query-params="queryParams"
           data-total-rows="{{total}}"
           data-silent-sort="true" {# vil vi vise en loading-boks? #}
           data-remember-order="true"
           id="results_table"
    >
        <thead>
        <tr>
            <th data-sortable="true" data-field="id">Nummer</th>
            <th data-sortable="true" data-field="dato">Dato</th>
            <th data-sortable="true" data-field="afsender" data-formatter="aktørFormatter">Afsender</th>
            <th data-sortable="true" data-field="modtager" data-formatter="aktørFormatter">Modtager</th>
            <th data-sortable="true" data-field="godkendt" data-formatter="statusFormatter">Status</th>
            <th data-field="actions">Handlinger</th>
        </tr>
        </thead>
        <tbody id="table_body">
        {% for item in items %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.dato}}</td>
            <td>{{item.afsender.navn}}</td>
            <td>{{item.modtager.navn}}</td>
            <td>{{item.godkendt|godkendt}}</td>
            <td>
                {% include actions_template with item=item %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">
                {% translate "Ingen søgeresultater" %}
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{{search_data|json_script:"search_data"}}

<script>
function queryParams(params){  // Kaldes af bootstrap-table fordi vi peger på den med data-query-params
    if (params["offset"] < 0) {
        params["offset"] = 0;
    }
    const search_data = JSON.parse($("#search_data").text());

    // Bootstrap takes care of these parameters for us.
    const keys_to_ignore = ["limit", "offset", "search", "sort", "order"];

    for (let key in search_data) {
        if (keys_to_ignore.includes(key) == false) {
            params[key] = search_data[key];
        }
    }

    return params;
}
function statusFormatter(value) {
    if (value === true) {
        return "Godkendt";
    } else if (value === false) {
        return "Afvist";
    } else if (value === null) {
        return "Ny"
    }
    return value;
}
function aktørFormatter(value) {
    if (typeof(value) === "object") {
        return value["navn"];
    }
    return value;
}
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
    return false;
};
function highlight(id_to_highlight) {
    // Get cells in first column
    var allCells = $("#table_body tr").find("td:first").map(function(){
         return $(this);
    }).get();

    // Loop over each of them and highlight if the ID equals id_to_highlight
    $.each(allCells, function (index, child) {
    	if (child.text() === id_to_highlight) {
            $(child).parent().addClass("table-success");
    	}
    });
}
$(document).ready(function() {
    var id_to_highlight = getUrlParameter("highlight");
    var msg_to_display = getUrlParameter("msg");

    highlight(id_to_highlight);

    if (msg_to_display == "created"){
        $("#created_form_id").text(id_to_highlight);
        $("#create_message").show();
    } else if (msg_to_display == "updated"){
        $("#updated_form_id").text(id_to_highlight);
        $("#update_message").show();
    }
});
$("#results_table").on('sort.bs.table', function(e,name,order){
    $("#results_table").on('post-body.bs.table', function(e,params){
        // This code runs when the table is finished with sorting.
        $('#mytableID').unbind("post-body.bs.table");
            var id_to_highlight = getUrlParameter("highlight");
            highlight(id_to_highlight);
    });
});
</script>
{% endblock %}
