<div class="row">
    {{subform.id}}
    <div class="col-2 px-0">
        {{subform.vareafgiftssats}}
    </div>
    <div class="col-1 px-0" data-value="_varekode">
        <input class="form-control" data-value="varekode"/>
    </div>
    <div class="col-1 px-0">
        {{subform.mængde}}
    </div>
    <div class="col-1 px-0">
        {{subform.antal}}
    </div>
    <div class="col-2 px-0">
        {{subform.fakturabeløb}}
    </div>
    <div class="col-2 px-0" data-value="_afgiftssats">
        <input class="form-control display" readonly data-value="afgiftssats"/>
    </div>
    <div class="col-2 px-0" data-value="_afgiftsbeløb">
        <input class="form-control display" readonly data-value="afgiftsbeløb"/>
    </div>
    <div class="col-1 px-0">
        <button type="button" class="btn btn-danger remove-row"><i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-success add-row"><i class="fa fa-plus"></i></button>
    </div>
</div>
