<div class="row">
    {{subform.id}}
    <div class="col-1 pe-0" data-value="_varekode">
        <input class="form-control" data-value="varekode"/>
    </div>
    <div class="col-2">
        {{subform.vareafgiftssats}}
    </div>
    <div class="col-1">
        {{subform.mængde}}
    </div>
    <div class="col-1">
        {{subform.antal}}
    </div>
    <div class="col-2">
        {{subform.fakturabeløb}}
    </div>
    <div class="col-2" data-value="_afgiftssats">
        <input class="form-control display" readonly data-value="afgiftssats"/>
    </div>
    <div class="col-2" data-value="_afgiftsbeløb">
        <input class="form-control display" readonly data-value="afgiftsbeløb"/>
    </div>
    <div class="col-1 ps-0">
        <button type="button" class="btn btn-info me-2 remove-row">
            <span class="material-icons">remove</span>
        </button>
        <button type="button" class="btn btn-info add-row">
            <span class="material-icons">add</span>
        </button>
    </div>
</div>
