{% extends extend_template %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load common_tags %}

{% block content %}
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}

    <div class="mx-5">

        {% if form.errors %}
        <div class="alert alert-danger">
            <ul class="errorlist nonfield">
            {% for field in form.errors %}
            {% for error in form.errors|get:field %}
            <li>
                {{error}}
            </li>
            {% endfor %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <h1>{% blocktranslate with id=object.id|unlocalize %}Afgiftsanmeldelse {{id}}{% endblocktranslate %}</h1>

        {% if object.status == "afsluttet" %}
        <span class="badge bg-success">{% translate "Afsluttet" %}</span>
        {% elif object.status == "godkendt" %}
        <span class="badge bg-success">{% translate "Godkendt" %}</span>
        {% elif object.status == "afvist" %}
        <span class="badge bg-danger">{% translate "Afvist" %}</span>
        {% elif object.status == "ny" %}
        <span class="badge bg-secondary">{% translate "Ny" %}</span>
        {% elif object.status == "kladde" %}
        <span class="badge bg-warning">{% translate "Kladde" %}</span>
        {% endif %}

        <h4>{% translate "For indførsel af afgiftspligtige varer i Grønland" %}</h4>

        <div class="row">
            <div class="col-2">
                <label>{% translate "Oprettelsesdato" %}:</label>
            </div>
            <div class="col-10">
                {{object.dato}}
            </div>
        </div>

        <hr/>
        {% localize off %}
        <div class="row">

            <div class="col-6">
                <h5>{% translate "Afsender" %}</h5>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "CVR" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.cvr|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Navn" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.navn|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Adresse" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.adresse|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Postbox" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.postbox|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Postnummer" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.postnummer|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "By" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.by|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Telefon" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.afsender.telefon|default_if_none:""}}
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h5>{% translate "Modtager" %}</h5>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "CVR" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.cvr|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Navn" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.navn|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Adresse" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.adresse|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Postbox" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.postbox|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Postnummer" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.postnummer|default_if_none:""}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "By" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.by|default_if_none:""}}
                    </div>
                </div>
                {% if show_stedkode %}
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Stedkode" %}:</label>
                    </div>
                    <div class="col-8">
                        {% if object.modtager.stedkode %}
                        {{object.modtager.stedkode|zfill:3}}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Telefon" %}:</label>
                    </div>
                    <div class="col-8">
                        {{object.modtager.telefon|default_if_none:""}}
                    </div>
                </div>
            </div>
        </div>

        {% endlocalize %}

        <hr/>
        <h5>{% translate "Oplysninger om fragt" %}</h5>

        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <label>Leverandørfaktura&shy;nummer:</label>
                    </div>
                    <div class="col-8">
                        {{object.leverandørfaktura_nummer}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Leverandørfaktura" %}:</label>
                    </div>
                    <div class="col-8">
                        <a href="{% url 'leverandørfaktura_view' id=object.id %}">
                            {{object.leverandørfaktura|file_basename}}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Fragtbrev" %}:</label>
                    </div>
                    <div class="col-8">
                        {% if object.fragtforsendelse.fragtbrev %}
                        <a href="{% url 'fragtbrev_view' id=object.fragtforsendelse.id %}">
                            {{object.fragtforsendelse.fragtbrev|file_basename}}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-6">

                <div class="row">
                    <div class="col-4">
                        <label>{% translate "Forsendelsesmåde" %}:</label>
                    </div>
                    <div class="col-8">
                        {% if object.fragtforsendelse.forsendelsestype.name == "SKIB" %}
                        {% translate "Skibsfragt" %}
                        {% elif object.fragtforsendelse.forsendelsestype.name == "FLY" %}
                        {% translate "Luftfragt" %}
                        {% elif object.postforsendelse.forsendelsestype.name == "SKIB" %}
                        {% translate "Skibspost" %}
                        {% elif object.postforsendelse.forsendelsestype.name == "FLY" %}
                        {% translate "Luftpost" %}
                        {% endif %}
                    </div>
                </div>


                <div class="row">
                    <div class="col-4">
                        {% if object.fragtforsendelse %}
                        {% translate "Forbindelsesnr." %}:
                        {% elif object.postforsendelse %}
                        {% translate "Afsenderby­kode" %}:
                        {% endif %}
                    </div>
                    <div class="col-8">
                        {% if object.fragtforsendelse %}
                            {{object.fragtforsendelse.forbindelsesnr}}
                        {% elif object.postforsendelse %}
                            {{object.postforsendelse.afsenderbykode}}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        {% if object.fragtforsendelse %}
                        {% translate "Fragtbrevnr." %}
                        {% elif object.postforsendelse %}
                        {% translate "Post­forsendelses­nr." %}:
                        {% endif %}
                    </div>
                    <div class="col-8">
                        {% if object.fragtforsendelse %}
                        {{object.fragtforsendelse.fragtbrevsnummer}}
                        {% elif object.postforsendelse %}
                        {{object.postforsendelse.postforsendelsesnummer}}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        {% translate "Afgangsdato" %}:
                    </div>
                    <div class="col-8">
                        {% if object.fragtforsendelse %}
                            {{object.fragtforsendelse.afgangsdato}}
                        {% elif object.postforsendelse %}
                            {{object.postforsendelse.afgangsdato}}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        {% translate "Beregnet faktureringsdato" %}:
                    </div>
                    <div class="col-8">
                        {{object.beregnet_faktureringsdato}}
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <h5>{% translate "Varelinjer med afgifter" %}</h5>

        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-2 px-0">
                    {% translate "Vareart" %}
                </th>
                <th class="col-2 px-0">
                    {% translate "Varekode" %}
                </th>
                <th class="col-1 px-0">
                    {% translate "kg | liter" %}
                </th>
                <th class="col-1 px-0">
                    {% translate "Antal" %}
                </th>
                <th class="col-2 px-0">
                    {% translate "Fakturabeløb" %}
                </th>
                <th class="col-2 px-0">
                    {% translate "Afgiftssats" %}
                </th>
                <th class="col-2 px-0">
                    {% translate "Afgiftsbeløb" %}
                </th>
            </tr>
            </thead>
            <tbody>


            {% for varelinje in object.varelinjer %}
            {% with varelinje.vareafgiftssats as sats %}

            <tr>
                <td class="col-2 px-0">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == "kl" %}
                    {{sats.vareart_kl}}
                    {% else %}
                    {{sats.vareart_da}}
                    {% endif %}
                </td>
                <td class="col-2 px-0">
                    {{sats.afgiftsgruppenummer|zfill:9}}
                </td>
                <td class="col-1 px-0">
                    {{varelinje.mængde|default_if_none:""}}
                </td>
                <!-- TODO: Skal der vises kg/liter eller antal når der er tale om en procentsats eller sammensat sats? -->
                <td class="col-1 px-0">
                    {{varelinje.antal|default_if_none:""}}
                </td>
                <td class="col-2 px-0">
                    {{varelinje.fakturabeløb|floatformat:2}}
                </td>
                <td class="col-2 px-0">
                    {{sats.text}}
                </td>
                <td class="col-2 px-0">
                    {{varelinje.afgiftsbeløb|floatformat:2}}
                </td>
            </tr>
            {% endwith %}
            {% endfor %}

            </tbody>

            <tfoot>
                <tr>
                    <td colspan="5"></td>
                    <td><strong>{% translate "Afgift i alt" %}</strong></td>
                    <td>{{object.afgift_sum}}</td>
                </tr>
            </tfoot>
        </table>

        <hr/>
        
        <h5>{% translate "Indberetter(e)" %}</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-2">{% translate "Type" %}</th>
                    <th class="col-2">{% translate "Navn" %}</th>
                    <th class="col-4">CVR</th>
                </tr>
            </thead>
            <tbody>
                {% for indberetter in indberettere %}
                <tr>
                    <td>{{indberetter.type}}</td>
                    <td>{{indberetter.navn}}</td>
                    <td>
                        {% if indberetter.cvr %}
                            {{indberetter.cvr|stringformat:"s"}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <hr/>

        <h5>{% translate "Notater" %}</h5>
        {% include "told_common/notat/list.html" with notater=object.notater %}

        <hr/>

        <h5>{% translate "Betaling" %}</h5>

        <div class="row align-items-center">
            <div class="col-2">{% translate "Toldkategori" %}:</div>
            {% translate "Ikke angivet" as ikke_angivet %}
            <div class="col-4">{{object.toldkategori|default:ikke_angivet}}</div>
        </div>

        <div class="row align-items-center">
            <div class="col-2">{% translate "Betales af" %}:</div>
            <div class="col-4">
                {% if object.betales_af == 'afsender'  %}
                    {% translate "Afsender" %}
                {% elif object.betales_af == 'modtager' %}
                    {% translate "Modtager" %}
                {% elif object.betales_af == 'indberetter' %}
                    {% translate "Indberetter" %}
                {% else %}
                    {% translate "Ikke tilgængelig" %}
                {% endif %}
            </div>
        </div>

        <hr/>

        <div class="form-row">
            <div class="ml-auto">

                {% if can_godkend %}
                    {% if object.status == "ny" or object.status == "afvist" %}
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#godkend_modal">
                        {% translate "Godkend" %}
                    </button>
                    {% endif %}
                {% endif %}

                {% if can_afvis %}
                {% if object.status == "ny" %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#afvis_modal">
                    {% translate "Afvis" %}
                </button>
                {% endif %}
                {% endif %}

                {% if can_godkend or can_afvis %}
                {% if object.status == "godkendt" or object.status == "afvist" %}
                <button type="submit" name="{{form.status.name}}" value="ny" class="btn btn-primary">
                    {% if object.status == "godkendt" %}
                    {% translate "Annullér godkendelse" %}
                    {% elif object.status == "afvist" %}
                    {% translate "Annullér afvisning" %}
                    {% endif %}
                </button>
                {% endif %}
                {% endif %}

                {% if can_edit %}
                    {% if object.status == "ny" or object.status == "kladde" or object.status == "afvist" %}
                    <a href="{% url 'tf10_edit' id=object.id %}?back=view" class="btn btn-primary">{% translate "Redigér" %}</a>
                    {% endif %}
                {% endif %}

                {% if can_send_prisme %}
                {% if object.status == "godkendt" or object.status == "afsluttet" %}
                    {% if object.status == "afsluttet" %}
                    <button type="button" class="btn btn-success disabled">
                        {% translate "Send til Prisme" %}
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#prisme_modal">
                        {% translate "Send til Prisme" %}
                    </button>
                    {% endif %}
                {% endif %}
                {% endif %}

                {% if can_view_history %}
                    <a href="{% url 'tf10_history' id=object.id %}" class="btn btn-primary">{% translate "Historik" %}</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal" id="godkend_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Godkend afgiftsanmeldelse</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Er du sikker på at du vil godkende afgiftsanmeldelsen?</p>
                    {{form.notat1}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nej</button>
                    <button type="submit" name="{{form.status.name}}" value="godkendt" class="btn btn-success">Ja</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="afvis_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Afvis afgiftsanmeldelse</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        {% translate "Skriv en begrundelsen for afvisningen herunder." %}<br />
                        {% translate "Denne begrundelse vil blive sendt til indberetteren pr. email." %}
                    </p>
                    {{form.notat2}}
                    <div class="invalid-feedback">
                        {% translate "Afgiftsanmeldelser kan ikke afvises uden et notat" %}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row gx-2">
                        <div class="col-8">
                            <span>{% translate "Er du sikker på, du vil afvise denne afgiftsanmeldelse?" %}</span>
                        </div>
                        <div class="col-4 text-end pt-2">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nej</button>
                            <button type="submit" name="{{form.status.name}}" value="afvist"
                                class="btn btn-danger">Ja</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="prisme_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Send afgiftsanmeldelse til Prisme</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Er du sikker på at du vil sende afgiftsanmeldelsen til Prisme?</p>
                    {{form.notat3}}

                    <div class="row align-items-center">
                        <div class="col-4">
                            <label for="{{form.toldkategori.id_for_label}}">{{form.toldkategori.label}}*</label>
                        </div>
                        <div class="col-8">
                            {{form.toldkategori}}
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-4">
                            <label for="{{form.modtager_stedkode.id_for_label}}">{{form.modtager_stedkode.label}}*</label>
                        </div>
                        <div class="col-8">
                            {{form.modtager_stedkode}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nej</button>
                    <button type="submit" name="{{form.send_til_prisme.name}}" value="true" class="btn btn-success">Ja</button>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
    <div class="modal" id="message_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Returstatus</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for message in messages %}
                    {{ message|linebreaks }}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <script nonce="{{ request.csp_nonce }}">
        const modal = new bootstrap.Modal('#message_modal', {});
        modal.show();
    </script>

    {% endif %}

</form>

{% comment %}
NOTE: We add "required"-attr to "notat2" client-side, since our service-side logic
is implemented in a way, which prevent us from setting the required-attr in 
the TF10Form-field, without having to do a bigger refactoring of the code.
{% endcomment %}
<script nonce="{{ request.csp_nonce }}">
    $(function() {
        $("#id_notat2").attr("required", "required");
    })

    // MODAL hide/show configs
    $(".modal").on("show.bs.modal", function () {
        $(this).find("input,select,textarea").removeAttr("disabled");
        $(this).find("[data-modal-required=true]").attr("required", "required");
    });
    $(".modal").on("hide.bs.modal", function () {
        $(this).find("input,select,textarea").attr("disabled", "disabled");
        $(this).find("[data-modal-required=true]").removeAttr("required");

        // Reset form validation
        $(this).parents("form.was-validated").removeClass("was-validated")
    });

    // Form validation
    $(".needs-validation").on("submit", function (e) {
        if (!this.checkValidity()) {
            e.preventDefault()
            event.stopPropagation()
        }

        $(this).addClass('was-validated')
    })
</script>
{% endblock %}
