{% extends "told_common/card.html" %}
{% load i18n %}
{% load two_factor_tags %}

{% block card_title %}
Log ind
{% endblock %}

{% block card_content %}
<form action="" method="POST" class="needs-validation">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-9 mb-3">
            {{form.twofactor_token}}
            {% if form.twofactor_token.errors %}
            <div class="invalid-feedback">{{ form.twofactor_token.errors }}</div>
            {% endif %}
        </div>
        <div class="col-md-3 mb-3">
            <button type="submit" class="btn btn-primary">{% translate 'Login' %}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </div>
</form>
{% endblock %}
